@{
    ViewData["Title"] = "Contact";
}
<h1>Contact Us</h1>
<hr>
<div >
    <p><i class="bi bi-geo-alt-fill"></i></i><i> 1/D-1, SIPCOT IT PARK Siruseri, Chennai - 603 103 Tamil Nadu, India</i></p>
    <p><i class="bi bi-telephone-fill"></i><i > Phone : + 91 44 6740 4000</i> </p>
    <p><i class="bi bi-envelope-fill"></i><i > E-mail : info-india@aspiresys.com</i> </p>
</div>